.alert {
    margin: 2em auto 0 auto;
    width: 50%;
}

 .input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    }

.link {
    margin: 2em auto 0 auto;
    width: 100%;
}

.link small {
    display:block;
}

